<ion-content>
  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/listing">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <!-- FOOD DETAIL CARD -->
  <div class="card" *ngIf="views == true" >
    <div class="image">
      <ion-img src="/appservice/api/menu/file/{{food.file}}"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{food.namaNemu}}</h1>
        <p class="ion-no-margin"><sup>Rp</sup> {{food.hargaSatuan | number: '1.2'}}</p>
      </div>
    </div>

    <div class="rates">
      <app-badge text="Tersedia: {{food.vol}}"></app-badge>
    </div>

    <div class="about">
      <p>{{food.deskripsi}}</p>
    </div>

    <app-button (click)="addItemToCart()" *ngIf="food.vol > 0">Add to Cart</app-button>
    <app-button *ngIf="food.vol <= 0">Out of Stock</app-button>
  </div>
</ion-content>
