ion-searchbar {
  --box-shadow: none;
  --background: #6F4E37;
  --border-radius: 1.2rem;
  --placeholder-font-weight: 600;
  --placeholder-opacity: 0.2;
  color: #ffe5d0;

  padding: 0;
  margin-bottom: 2rem;
}
